flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
flask-marshmallow==0.15.0
Flask-Migrate==4.0.5
flask-sqlalchemy==3.1.1
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
PyJWT==2.8.0
ruff==0.1.9
SQLAlchemy==2.0.23
gunicorn<22; platform_system != 'Windows'
waitress<3; platform_system == 'Windows'
